@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

main {
    margin: 0 auto;
    width: 70vw;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    border-bottom: 1px solid rgb(185, 131, 44);
}


section div article {
    width: 75%;
    clear: both
}

section div aside {
    width: 15%;
    float: left;
}

section div aside img{
    width: 120px;
    height: 120px;
}